<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="WinBill-Net-Install-Dir" value="." />
    <add key="WinBill-Net-Backup-Dir" value="\Backups" />
    <add key="WinBill-Net-Source-Dir" value="\\10.1.1.2\LatestCode\WinbillNET" />
    <add key="Default-Backup-Enabled" value="false" />
    <add key="Default-Update-Enabled" value="true" />
    <add key="Backup-Ignore-Dir" value="&quot;Backups&quot; &quot;Log Files&quot; &quot;Exports&quot;" />
    <add key="Backup-Ignore-File" value="&quot;*.bat&quot;" />
    <add key="Backups-To-Keep" value="3" />
  </appSettings>
</configuration>