<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="WinBill-Net-Install-Dir" value="C:\Users\natha\Desktop\Social"/>
    <add key="WinBill-Net-Backup-Dir" value="C:\Users\natha\Desktop\Social\Backup"/>
    <add key="WinBill-Net-Source-Dir" value="C:\Users\natha\Desktop\Games"/>
    <add key="Default-Backup-Enabled" value='false'/>
    <add key="Default-Update-Enabled" value='true'/>
    <add key="Backup-Ignore-Dir" value='"Backups" "Log Files" "Exports"'/>
    <add key="Backup-Ignore-File" value='"*.bat"'/>
    <add key="Backups-To-Keep" value='3'/>
  </appSettings>
</configuration>