<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="WinBill-Net-Install-Dir" value="." />
    <add key="WinBill-Net-Backup-Dir" value="\Backups" />
    <add key="WinBill-Net-Source-Dir" value="\\10.1.1.2\LatestCode\WinbillNET" />
    <add key="Default-Backup-Enabled" value="true" />
    <add key="Default-Update-Enabled" value="true" />
    <add key="Backup-Ignore-Dir" value="|Backups|Log Files|Exports|" />
    <add key="Backup-Ignore-File" value="|*.bat|" />
    <add key="Backups - To - Keep" value="3" />
    <add key="Close-After-Update" value="True" />
    <add key="Launch-After-Update" value="True" />
  </appSettings>
</configuration>